/* service */
	#service{
		position: relative;
		background-color: rgb(248, 244, 225);
		color: rgb(57, 46, 39);
		padding: 60px 0 80px;
		overflow-x: hidden;
		overflow-y: hidden;
	}
	#service img#absen{
		position: absolute;
		top: 50px;
		left: -210px;
		width: 110%;
	}
	#service h1{
		margin: 0 auto;
		margin-bottom: 40px;
	}
	#service p{
		width: 65%;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	#service .tab{
		width: 100%;
	}
	#service .tab .row .col{
		height: 120px;
		vertical-align: middle;
		width: 33%;
	}
	#service .col img{
		width: 125px;
	}
/* service */

/*responsif*/
	@media (max-width: 812px) { /* Mobile landscape and potrait */
		/*service*/
			#service{
				padding: 30px 0 40px;
			}
			#service img#absen{
				top: 15%;
				left: -15%;
				width: 125%;
			}
			#service p{
				width: 85%;
			}
		/*service*/
	}

	@media (max-width: 528px) { /* Mobile potrait */
		/*service*/
			#service .tab,
			#service .tab .row,
			#service .tab .row .col{
				display: block;
				height: unset;
				width: 100%;
			}
		/*service*/
	}
/*responsif*/